body{
    text-align: center;
}
#bulb{
    height: 400px;
    width: 200px;
}
button{
    margin:10px;
    height: 40px;
    width: 120px;
    background-color: black;
    color: white;
}
button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}